* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
}

/* NAVIGATION BAR */

.navbar {
  margin: 46px 6.5% 0 6.5%;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
}

.my-logo {
  font-weight: 700;
  font-size: 1.125rem;
  color: #6070ff;
  text-decoration: none;
  flex-shrink: 2;
}

.hamburguer-menu {
  color: #6070ff;
  display: inline-block;
  margin-right: 6.5%;
  width: 16px;
  flex-shrink: 2;
}

/* INTRODUCTION SECTION */

#introduction-section {
  background-image: url("Images_Background/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  background-size: cover;
  position: relative;
  height: 82vh;
}

.introduction-name {
  width: 87%;
  margin: 0 6.5% 1.67% 6.5%;
  color: #172b4d;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 20%;
  flex-shrink: 2;
}

.introduction-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 6.5% 1.67% 6.5%;
}

.lets-connect {
  margin: 0 6.5% 1.95% 6.5%;
  padding: 3px 0;
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
}

.social-icons {
  display: flex;
  margin-left: 6.5%;
  margin-bottom: 18.95%;
  list-style: none;
  align-items: baseline;
  flex-wrap: wrap;
}

.social-icons li {
  margin-right: 1.25rem;
  flex-shrink: 2;
}
