* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: 0.4s;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  scroll-behavior: smooth;
}

.big-size {
  display: none;
}

/* NAVIGATION BAR */

.navbar {
  margin: 0 6.5% 0 6.5%;
  padding-top: 8px;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
}

.my-logo {
  font-weight: 700;
  font-size: 1.125rem;
  color: #6070ff;
  text-decoration: none;
  flex-shrink: 2;
}

.hamburguer-menu {
  color: #6070ff;
  margin-right: 6.5%;
  width: 16px;
  flex-shrink: 2;
}

/* INTRODUCTION SECTION */

#introduction-section {
  background-image: url("Images_Background/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  background-size: cover;
  position: relative;
  height: 82vh;
  margin-bottom: 20%;
  z-index: -1;
}

.principal-margin-intro {
  margin-left: 6.5%;
  margin-right: 6.5%;
}

.introduction-name {
  color: #172b4d;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 20%;
  flex-shrink: 2;
  margin-bottom: 1.67%;
}

.introduction-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1.67%;
}

.lets-connect {
  margin-top: 0;
  margin-bottom: 1.95%;
  padding: 3px 0;
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
}

.social-icons {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.social-icons-margin-bottom-presentation {
  margin-bottom: 18.95%;
}

.social-icons li {
  margin-right: 1.25rem;
  flex-shrink: 2;
}

/* MOBILE CARDS */
.dynamic-card-container-mobile {
  margin: 0 6.5% 0 6.5%;
}

#card-works-container {
  display: grid;
  grid-template-columns: auto;
  margin: 0 6.5% 0 6.5%;
  row-gap: 88px;
}

#card-work-1 {
  grid-row: 1 / 2;
  margin-bottom: 88px;
}

#card-work-2 {
  grid-row: 2 / 3;
}

#card-work-3 {
  grid-row: 3 / 4;
}

#card-work-4 {
  grid-row: 4 / 5;
}

.mobile-card {
  border: solid 1px #dfe1e6;
  border-radius: 16px;
}

.card-snapshot {
  width: 92%;
  margin: 12px 4% 0 4%;
}

.project-description-block {
  display: flex;
  flex-direction: column;
  margin: 16px 4% 32px 4%;
}

.card-title {
  color: #172b4d;
  font-size: 2rem;
  font-weight: 700;
}

.project-role-detail {
  display: flex;
  color: #7a869a;
  font-size: 0.8125rem;
  font-weight: 700;
}

.project-role-client {
  color: #344563;
  margin-bottom: 20px;
}

.project-role-counter {
  color: #c1c7d0;
}

.project-role-detail li {
  margin-right: 12px;
}

.project-description-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 0.9375rem;
  margin-bottom: 12px;
}

.project-language-list {
  display: flex;
  margin-bottom: 24px;
}

.project-language-list li {
  margin-right: 8px;
  background-color: #ebebff;
  color: #6070ff;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 4px 12px;
  border-radius: 8px;
}

.button-container {
  display: inline-block;
}

.see-project-button {
  border-radius: 8px;
  color: #6070ff;
  border: 1px solid #396df2;
  font-weight: 500;
  font-size: 1.0625rem;
  padding: 12px;
  display: inline-block;
  cursor: pointer;
}

.see-project-button:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.see-project-button:active {
  color: #fff;
  background-color: #2230d2;
}

.see-project-button:disabled {
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

/* ABOUT MYSELF SECTION */

#about-myself {
  display: flex;
  flex-direction: column;
  margin-bottom: 170px;
}

.principal-margin-about {
  margin-left: 6.5%;
  margin-right: 6.5%;
}

.principal-margin-about-social {
  margin-left: 6.5%;
}

.introduction-paragraph-about {
  font-size: 1.25rem;
}

.social-icons-margin-bottom-about-myself {
  margin-bottom: 24px;
}

.about-myself-skills {
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 12%;
  margin-left: 9%;
}

.about-myself-skills li {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.tech-languages {
  color: #253858;
  font-size: 0.9375rem;
  margin-left: 3%;
  flex-direction: column;
}

.tech-languages li {
  background-color: #f7f7f9;
}

.arrow-skills {
  justify-content: space-between;
  margin-right: 6.5%;
}

.arrow-look {
  color: #acb7c3;
  margin-right: 41.5px;
}

.language-name {
  margin-left: 16px;
}

.bottom-line-language {
  border-bottom: 3px solid #dfe1e6;
  margin-bottom: 23px;
}

/* CONTACT ME SECTION */

#contact-me {
  background-color: #6070ff;
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: column;
  background-image: url(Images_Background/contact\ form\ shapes-mobile.svg);
  background-size: 60%;
  background-position-y: 21px;
  background-position-x: right;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

.contact-me-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
  margin-top: 25%;
  flex-shrink: 3;
}

.contact-me-paragraph {
  font-weight: 400;
  font-size: 1.25rem;
  color: #ebebff;
  margin-bottom: 52px;
  text-align: center;
}

.form-input {
  color: #172b4d;
  font-size: 1.0625rem;
  font-weight: 400;
}

.form-input-width {
  width: 100%;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  outline: none;
  padding: 15px 16px;
}

::placeholder {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
}

.textarea {
  height: 9.375rem;
}

textarea::placeholder {
  color: #b3bac5;
  font-weight: 400;
  font-size: 0.9375rem;
  font-family: 'Poppins', sans-serif;
}

textarea::-ms-input-placeholder {
  color: #b3bac5;
  font-weight: 400;
  font-size: 0.9375rem;
  font-family: 'Poppins', sans-serif;
}

textarea:-ms-input-placeholder {
  color: #b3bac5;
  font-weight: 400;
  font-size: 0.9375rem;
  font-family: 'Poppins', sans-serif;
}

.contact-form-button {
  padding: 12px 16px;
}

.closing-line-container {
  display: flex;
  justify-content: center;
}

.closing-line {
  margin-top: 32px;
  margin-bottom: 8px;
}

/* MOBILE MENU */

.mobile-menu-style {
  background-color: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(8px);
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.hidden {
  display: none;
}

.fa-xmark {
  float: right;
  margin-right: 6.5%;
  margin-top: 20px;
  color: #fff;
}

.list-menu-mobile {
  float: left;
  margin-top: 106px;
  margin-left: 28px;
  position: fixed;
}

.list-menu-mobile li {
  margin-bottom: 40px;
  filter: blur(0);
}

.list-menu-mobile li a {
  font-weight: 600;
  font-size: 32px;
  color: rgba(255, 255, 255, 100);
  text-decoration: none;
  position: relative;
  z-index: 3;
}

.close-mobile-menu {
  display: flex;
  justify-content: center;
}

.closing-line-mobile-menu {
  position: absolute;
  bottom: 8px;
  right: 35%;
}

/* ----------------- DYNAMIC POP UP ------------------- */

#mobilePopUpContainer {
  background-color: #c1c7d0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100vw;
  position: fixed;
}

.subcontainer-mobile-popup {
  margin: 38px 4.67% 50px 4.67%;
  border-radius: 16px;
  background-color: #fff;
  border: solid 1px #dfe1e6;
  height: 85%;
  overflow-y: scroll;
}

.title-close-mobile-popup-container {
  margin: 18px 5.15% 22px 5.15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-popup-card-title {
  font-weight: 700;
  font-size: 2rem;
  color: #172b4d;
}

.cross-popup {
  color: #67798e;
}

.mobile-pop-up-role-container {
  margin-left: 5.15%;
}

.image-container-mobile-popup {
  margin: 20px 5.15% 12px 5.15%;
}

.mobile-popup-image {
  width: 100%;
}

.mobile-popup-paragraph {
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 0 5.15% 12px 5.15%;
  color: #344563;
}

.mobile-popup-role-fontweight {
  font-weight: 600;
}

.mobile-popup-tech-margin {
  margin-left: 5.15%;
  margin-bottom: 20px;
}

.line-separation {
  margin: 0 6.51% 0 6.51%;
  display: flex;
  justify-content: center;
}

.mobile-popup-button-container {
  margin: 24px 5.15% 22px 5.15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.see-button-container-mobile-popup {
  display: flex;
  flex-direction: row;
  border: 1px solid #396df2;
  border-radius: 8px;
  align-items: center;
  width: 45%;
  justify-content: space-evenly;
}

.button-text {
  font-size: 15px;
  font-weight: 500;
  color: #396df2;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 14px;
}

.see-live-icon {
  width: 16px;
  height: 16px;
}

.github-see-source-icon {
  width: 1.125rem;
  height: auto;
}

.see-project-button-pop-up {
  border-radius: 8px;
  color: #6070ff;
  border: 1px solid #396df2;
  font-weight: 500;
  font-size: 1.0625rem;
  padding: 12px;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  width: 42%;
}

/* -------------- MEDIA QUERY -------------- */

@media all and (min-width: 768px) {
  /* DESKTOP POP UP */

  #mobilePopUpContainer {
    background-color: #c1c7d0;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100vh;
    width: 100%;
  }

  .subcontainer-mobile-popup {
    margin: 77px 9.86% 77px 9.86%;
    width: 82%;
    height: 88%;
    border-radius: 16px;
    background-color: #fff;
    border: solid 1px #dfe1e6;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
  }

  .image-container-mobile-popup {
    height: 65vh;
  }

  .mobile-popup-image {
    margin: 0 2.166% 59px 2.166%;
    width: 95.8%;
    height: 100%;
  }

  .desktop-bottom-container {
    margin: 0 2.166% 8% 2.166%;
    display: flex;
  }

  .desktop-pop-up-paragraph-container {
    width: 70%;
  }

  .mobile-popup-paragraph {
    font-size: 1rem;
    font-weight: 400;
    color: #344563;
    flex-shrink: 3;
  }

  .desktop-popup-buttons-container {
    width: 30%;
    margin-right: 24px;
    margin-left: 24px;
  }

  .desktop-popup-tech-margin {
    flex-wrap: wrap;
  }

  .desktop-popup-tech-margin li {
    margin-bottom: 12px;
  }

  .see-project-button-pop-up {
    border-radius: 8px;
    color: #6070ff;
    border: 1px solid #396df2;
    font-weight: 500;
    font-size: 1.0625rem;
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    width: 145px;
    height: 3rem;
    margin-top: 24px;
    margin-right: 5px;
    flex-wrap: wrap;
  }

  .desktop-line-separation {
    margin: 0 28px 0 28px;
    display: flex;
    justify-content: center;
  }

  .mobile-popup-button-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .see-button-container-mobile-popup {
    display: flex;
    flex-direction: row;
    border: 1px solid #396df2;
    border-radius: 8px;
    align-items: center;
    width: 45%;
    justify-content: space-evenly;
  }

  /* GENERAL DESKTOP */

  .mobile-display {
    display: none;
  }

  .big-size {
    display: initial;
  }

  /* NAVIGATION BAR DESKTOP */

  .navbar {
    margin: 25px 10% 73px 10%;
  }

  .navbar-menu-list li a {
    display: initial;
    margin-right: 32px;
    font-weight: 500;
    font-size: 0.9375rem;
    color: #344563;
    text-decoration: none;
  }

  /* INTRODUCTION SECTION DESKTOP */

  #introduction-section {
    background-image: url("Images_Background/Header\ bg\ Desktop.svg");
    background-position-x: 2.1625rem;
    background-size: 96%;
    margin-bottom: 8.875rem;
  }

  .social-icons-margin-bottom-presentation {
    margin-bottom: 16.0625rem;
    margin-top: 0.875rem;
  }

  .principal-margin-intro {
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 0;
  }

  #introduction-section h1 {
    font-size: 3rem;
    margin-top: 13.5rem;
  }

  .introduction-paragraph {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }

  /* CARDS DISTRIBUTION */
  .dynamic-card-container-desktop {
    margin: 0 10% 0 10%;
  }

  #card-works-container {
    margin: 0 10% 0 10%;
    row-gap: 8.875rem;
  }

  #card-work-1 {
    grid-row: 3 / 4;
    display: flex;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  #card-work-2 {
    grid-row: 4 / 5;
    display: flex;
    flex-direction: row-reverse;
  }

  #card-work-3 {
    grid-row: 1 / 2;
    display: flex;
  }

  #card-work-4 {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row-reverse;
  }

  /* CARD IMAGE */

  .card-snapshot {
    width: 47%;
    margin: 2.2% 1.9% 2.2%;
  }

  /* CARD CONTENT */

  .project-description-block {
    margin: 4.4% 4% 0 3.8%;
    flex-wrap: nowrap;
    flex-shrink: 3.2;
  }

  .card-title {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
  }

  .project-role-detail {
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
  }

  .weight-desktop {
    font-weight: 400;
  }

  .project-description-paragraph {
    font-size: 1rem;
    margin-bottom: 1.75rem;
  }

  .project-language-list {
    margin-bottom: 2.5rem;
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .facebook360-button-desktop {
    height: 48px;
    color: #fff;
    background-color: #4053fc;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.0625rem;
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-style: none;
  }

  .button-desktop {
    border-radius: 8px;
    color: #6070ff;
    border: 1px solid #396df2;
    font-weight: 500;
    font-size: 1.0625rem;
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
    width: 30%;
  }

  .facebook360-button-desktop:active {
    color: #6070ff;
    border: 1px solid #396df2;
  }

  .facebook360-button-desktop:hover {
    color: #fff;
    background-color: #6070ff;
  }

  /* ABOUT MYSELF SECTION */

  #about-myself {
    margin-top: 10.375rem;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 38.7% 61.3%;
  }

  .about-myself-skills-section {
    margin-top: 0;
    width: 100%;
  }

  .introduction-name {
    margin-top: 0;
    flex-shrink: 2;
  }

  .introduction-paragraph-about {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  .principal-margin-about {
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .lets-connect {
    margin-bottom: 26px;
  }

  .principal-margin-about-social {
    margin-left: 2.5%;
    margin-top: 16px;
  }

  .margin-about-me-skills {
    margin-left: 18px;
  }

  .about-myself-skills {
    color: #344563;
    font-weight: 500;
    font-size: 1.25rem;
    margin-left: 5%;
    margin-top: 12px;
  }

  .about-myself-skills li {
    margin-bottom: 23px;
  }

  .tech-languages {
    display: grid;
    grid-template-columns: 18% 18% 18%;
  }

  .tech-languages li {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .tech-languages li img {
    margin-bottom: 12px;
  }

  .language-name {
    margin-left: 0;
    padding-bottom: 20px;
  }

  .arrow-look {
    margin-right: 5%;
  }

  .bottom-line-language {
    padding-bottom: 23px;
    margin-bottom: 0;
  }

  /* CONTACT ME DESKTOP SECTION */

  #contact-me {
    background-image: url(Images_Background/contact\ form\ background\ Desktop.svg);
    background-size: 92%;
    background-position-y: 79px;
    background-position-x: 75px;
  }

  .contact-me-title {
    margin-top: 142px;
    text-align: center;
    margin-bottom: 12px;
  }

  .contact-me-paragraph {
    margin-bottom: 12px;
    padding-bottom: 12px;
    text-align: center;
    margin-left: 30.5%;
    margin-right: 30.5%;
  }

  .form-bigsize-align {
    margin-left: 34.5%;
    margin-right: 34.5%;
    margin-bottom: 127px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-input-width {
    margin-bottom: 27px;
    border-radius: 0;
    border: 1px solid #cfd8dc;
    outline: none;
    padding: 15px 16px;
  }

  .closing-line-container {
    display: none;
  }

  .contact-form-button-desktop {
    align-self: center;
  }
}
