* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/*NAVIGATION BAR*/ 

.navbar {
  margin-top: 25px;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: baseline;
}

.my-logo {
  width: 50px;
  margin-left: 24px;
}

.hamburguer-menu {
  color:#6070ff;
  display: inline-block;
  margin-right: 24px;
  width: 16px;
}

/*INTRODUCTION SECTION*/

#introduction-section {
  background: url("Images_Background/header-shapes\ mobile.png") no-repeat;
  background-size: cover;  
}

.introduction-name {
  width: 87%;
  margin: 0 6.5% 12px 6.5%;
  color: #172b4d;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 116px;
}

.introduction-paragraph {
  color: #344563;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 6.5% 12px 6.5%;
}

.lets-connect {
  margin: 0 6.5% 14px 6.5%;
  color: #7F8cff;
  font-size: 1rem;
  font-weight: 500;
}

.social-icons {
  display: flex;
  margin-left: 6.5%;
  margin-bottom: 136px;
  list-style: none;
  align-items: baseline;
}

.social-icons li {
  margin-right: 20px;
  flex-shrink: 1;
}
